<h1>Listing racers</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Street1</th>
    <th>Street2</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Gender</th>
    <th>Dob</th>
    <th>Phone1</th>
    <th>Phone2</th>
    <th>Email</th>
    <th>Emergencyphone</th>
    <th>Racerlevel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @racers.each do |racer| %>
  <tr>
    <td><%= racer.firstname %></td>
    <td><%= racer.lastname %></td>
    <td><%= racer.street1 %></td>
    <td><%= racer.street2 %></td>
    <td><%= racer.city %></td>
    <td><%= racer.state %></td>
    <td><%= racer.zipcode %></td>
    <td><%= racer.gender %></td>
    <td><%= racer.dob %></td>
    <td><%= racer.phone1 %></td>
    <td><%= racer.phone2 %></td>
    <td><%= racer.email %></td>
    <td><%= racer.emergencyphone %></td>
    <td><%= racer.racerlevel %></td>
    <td><%= link_to 'Show', racer %></td>
    <td><%= link_to 'Edit', edit_racer_path(racer) %></td>
    <td><%= link_to 'Destroy', racer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Racer', new_racer_path %>
