<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @racer.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @racer.lastname %>
</p>

<p>
  <b>Street1:</b>
  <%= @racer.street1 %>
</p>

<p>
  <b>Street2:</b>
  <%= @racer.street2 %>
</p>

<p>
  <b>City:</b>
  <%= @racer.city %>
</p>

<p>
  <b>State:</b>
  <%= @racer.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @racer.zipcode %>
</p>

<p>
  <b>Gender:</b>
  <%= @racer.gender %>
</p>

<p>
  <b>Dob:</b>
  <%= @racer.dob %>
</p>

<p>
  <b>Phone1:</b>
  <%= @racer.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @racer.phone2 %>
</p>

<p>
  <b>Email:</b>
  <%= @racer.email %>
</p>

<p>
  <b>Emergencyphone:</b>
  <%= @racer.emergencyphone %>
</p>

<p>
  <b>Racerlevel:</b>
  <%= @racer.racerlevel %>
</p>


<%= link_to 'Edit', edit_racer_path(@racer) %> |
<%= link_to 'Back', racers_path %>
