<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @parent.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @parent.lastname %>
</p>

<p>
  <b>Phone1:</b>
  <%= @parent.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @parent.phone2 %>
</p>


<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
